<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.fcsca.dao.IFStudentDao">

    <resultMap id="fstudentMapper" type="FStudent">
        <id column="sid" property="sid"/>
        <result column="sname" property="sname"/>
        <collection property="fCourses" ofType="FCourse">
            <id column="cid" property="cid"/>
            <result column="cname" property="cname"/>
        </collection>
    </resultMap>

    <select id="selectFStudentById" resultMap="fstudentMapper">
        select sid,sname,cid,cname
        from fstudent,fmiddle,fcourse
        where sid=fstudentId
        and cid =fcourseId
        and sid=#{sid}
    </select>
</mapper>